body{
  background-color: AliceBlue;
  margin:0l
  padding: 0;
  }
.header {
  background-image:
  url(solar.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}
#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}
h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  background-color:rgba(159,182,205,.5)
}
h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}
